<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- start: styles -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- finish: styles -->
	<!-- start: datatable -->
	<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css}">
	<!-- finish: datatable -->
	<!-- start: Icons -->
	<link th:href="@{https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css}" rel="stylesheet">
	<!-- finish: icons -->
	<title>Insert title here</title>
</head>
<style>
	.help-block[data-bv-for],
	.help-block[data-bv-result]:not([data-bv-for]) {
		color: red;
	}
	
	.is-invalid {
		border-color: red;
	}
	
	fieldset, legend {
		all: revert;
	}
	
	.reset{
		border: 1px solid #d9dee3;
	}
</style>

<body>
	<div th:insert="~{layout/dashboard::sidebar}"></div>
	<main class="bg-light">
		<div class="p-2">
			<div th:insert="~{layout/dashboard::navbar}"></div>
			<div class="py-4">
				<div class="container-fluid">
					<div class="card mt-5">
						<div class="card-header">
							<h5 class="card-title">Registro De Cita Medica</h5>
							
						</div>
						<div class="card-body">
						
							<form id="id_form" class="px-2" th:action="@{/cita-medica/medico}">
								<fieldset class="row reset alert alert-info">
								<div class="col-md-5 mb-3">
									<label class="col-sm-2 col-form-label">Medico</label>
									<select class="form-select" id="id_medico">
											<option value="-1">[selecccione medico]</option>
											<option th:each="p:${medicos}"
													th:value="${p.id}"
													th:utext="${p.nombre_medico}"></option>
										</select>
								</div>
								<div class="col-md-5 mb-3">
									<label class="col-sm-4 col-form-label">Especialidad</label>
									<select class="form-select" id="id_especialidad">
											<option value="-1">[selecccione paciente]</option>
											<option th:each="p:${especialidades}"
													th:value="${p.id_especialidad}"
													th:utext="${p.nombre}"></option>
										</select>
								</div>
								<div class="col d-flex align-items-center  justify-content-end pt-3">
									<button type="submit" class="btn btn-success d-flex align-items-center" id="id-consultar">
										<i class="ri-search-line px-2"></i>
										Buscar
									</button>
								</div>
								</fieldset>
								<fieldset class="row reset alert alert-primary">
									<div class="d-flex align-items-center">
										<span>RESULTADOS DE BUSQUEDA: </span>
										<span class="px-2" id="total"></span>
									</div>
								</fieldset>
							</form>
							
							<div class="mt-5" id="container-result">
									
									
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>



	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script th:src="@{/js/script.js}"></script>


	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

	<script type="text/javascript">
		$("#id-consultar").click(function (e) {

				e.preventDefault();

				var idMedico = $("#id_medico").val();
				var idEspecialidad = $("#id_especialidad").val();

				$.ajax({
					url: "/medijoven/dashboard/consulta-medico",
					data: {
						idMedico: idMedico,
						idEspecialidad: idEspecialidad
					},
					success: function (response) {

						$("#container-result").empty(); // Limpiar contenedor de cards
						$("#total").text(response.length);
						
						response.forEach(medico => {

							var card = `
      							<div class="row g-3">
            <div class="col-md-4">
                <h5 class="mb-3" id="nombre_medico">${medico.nombre_medico}</h5>
                <table>
                    <tbody>
                        <tr>
                            <td>correo</td>
                            <td class="px-2" id="#correo">${medico.correo}</td>
                        </tr>
                        <tr>
                            <td>Telefono</td>
                            <td class="px-2" id="#telefono">${medico.telefono}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <dl class="row">
                    <h5 class="mb-3">Especialidad</h5>
                    <dd class="col-sm-5" id="#nombre_especialidad">
                        ${medico.especialidad.nombre}
                    </dd>
                </dl>
            </div>
            <div class="col d-flex align-items-center  justify-content-end pt-3">
                <button type="submit" class="btn btn-primary d-flex align-items-center ">
                    Reservar Cita
                </button>
            </div>
            <hr/>
        </div>
      							
    						`;

							$("#container-result").append(card);

						});
					}
				});

			});
	</script>

</body>

</html>
