<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- start: styles -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- finish: styles -->
	<!-- start: datatable -->
	<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css}">
	<!-- finish: datatable -->
	<!-- start: Icons -->
	<link th:href="@{https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css}" rel="stylesheet">
	<!-- finish: icons -->
	<title>Insert title here</title>
</head>
<style>
	fieldset, legend {
		all: revert;
	}
	
	.reset{
		border: 1px solid #d9dee3;
	}
</style>

<body>
	<div th:insert="~{layout/dashboard::sidebar}"></div>
	<main class="bg-light">
		<div class="p-2">
			<div th:insert="~{layout/dashboard::navbar}"></div>
			<div class="py-4">
				<div class="container-fluid">
					<div class="card mt-5">
						<div class="card-body">
							<h5>Registro Usuario</h5>
							<hr>
							<form id="id_form">
								
								<fieldset class="p-3 mb-3 reset">
									<legend >SELECCIONE USUARIO</legend>
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">Medico</label>
										<div class="col-sm-10">
											<select class="form-select" name="medico" id="medico">
												<option value="null">[ SELECCCIONE MEDICO ]</option>
												<option th:each="bean:${medicos}" 
														th:value="${bean.id}" 
														th:utext="${bean.nombre_medico}">
												</option>
											</select>
										</div>
									</div>
									
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">Farmaceutico</label>
										<div class="col-sm-10">
											<select class="form-select" name="farmaceutico" id="farmaceutico">
												<option value="null">[ SELECCCIONE FARMACEUTICO ]</option>
												<option th:each="bean:${farmaceuticos}" 
														th:value="${bean.idFarmeceutico}" 
														th:utext="${bean.nombre}">
												</option>
											</select>
										</div>
									</div>
								</fieldset>
								
								<fieldset class="p-3 mb-3 reset">
									<legend>INGRESE DATOS USUARIO</legend>
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">USERNAME</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="username">
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">PASSWORD</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="password">
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">Rol</label>
										<div class="col-sm-10">
											<select class="form-select" name="rol">
												<option th:each="bean:${roles}" th:value="${bean.idRol}" th:utext="${bean.nombre}">
												</option>
											</select>
										</div>
									</div>
								</fieldset>
								
								
								
								<button type="submit" id="id_registrar" class="btn btn-primary">guardar</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>



	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script th:src="@{/js/script.js}"></script>


	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>




	<script type="text/javascript">
		$('#medico').change(function() {
            var farmaceuticoSelect = $('#farmaceutico');
            farmaceuticoSelect.prop('disabled', ($(this).val() !== 'null'));
        });
		
		$('#farmaceutico').change(function() {
            var medicoSelect = $('#medico');
            medicoSelect.prop('disabled', ($(this).val() !== 'null'));
        });
		
		$(document).ready(function () {
			$('#id_form').bootstrapValidator({
				fields: {
					username: {
						validators: {
							notEmpty: {
								message: 'Campo Descripcion es obligatorio'
							}
						}
					}
				}
			});

			$("#id_registrar").click(function () {
				// Lanza la validación
				$('#id_form').bootstrapValidator('validate');

				// Pregunta si es válido el formulario (Si no tiene errores)
				if ($('#id_form').data('bootstrapValidator').isValid()) {
					$.ajax({
						type: "POST",
						url: "/medijoven/dashboard/usuario/registrar",
						data: $('#id_form').serialize(),
						success: function (data) {
							// Mostrar mensaje de éxito con SweetAlert2
							Swal.fire({
								icon: 'success',
								title: 'Éxito',
								text: data.MENSAJE,
								onClose: function () {
									$('#id_form').bootstrapValidator('resetForm', true);
									limpiarFormulario();
									window.location.href = '/medijoven/dashboard/usuarios';
								}
							});
						},
						error: function (data) {
							// Mostrar mensaje de error con SweetAlert2
							Swal.fire({
								icon: 'error',
								title: 'Error',
								text: data.MENSAJE
							});
						}
					});
				}
			});

			// Función para limpiar el formulario (reemplaza esto con tu función real)
			function limpiarFormulario() {
				$('#id_form').trigger("reset");
			}
		});
	</script>


</body>

</html>
